.Footer {
  text-align: center;
  background-color: $color-text-darkest;
  color: $color-text-light;
  font-size: 3rem;
  font-weight: 900;
  justify-content: space-around;
  align-items: center;

  height: 10vh;
  width: calc(100vw - 4rem);
  @include respond(Tablet-Portrait) {
    width: 100vw;
  }
  &:target {
    background-color: red;
  }
  // clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  // transform: translateY(-30.5rem);
}
