.Button {
  background-color: $color-text-light;
  border-radius: 30rem;
  color: $color-text-dark;
  font-size: 3rem;
  font-weight: 900;
  height: 5rem;
  width: 25rem;
  text-decoration: none;
  transition: all 0.5s;
  position: relative;
  top: 5rem;
  @include respond(Tablet-Landscape) {
    font-size: 4rem;
    height: 6.5rem;
    width: 32.5rem;
  }
  @include respond(Tablet-Portrait) {
    font-size: 5rem;
    height: 7.5rem;
    width: 40rem;
  }
  @include respond(Smartphone) {
    font-size: 7.5rem;
    height: 10rem;
    width: 55rem;
    top: 20rem;
  }

  &:hover {
    transform: translateY(-0.5rem);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &::after {
    position: absolute;
    background-color: $color-text-light;
    border-radius: 3rem;
    content: "";
    font-size: 2rem;
    height: 5rem;
    width: 25rem;
    transition: all 0.5s;
    z-index: -1;
  }
}
.Button-Projects {
  font-size: 1.5rem;
  font-weight: 900;
  height: 4rem;
  width: 20rem;

  @include respond(Tablet-Landscape) {
    font-size: 2rem;
    height: 4.5rem;
    width: 22.5rem;
  }
  @include respond(Tablet-Portrait) {
    font-size: 2.5rem;
    height: 4.5rem;
    width: 25rem;
  }
  @include respond(Smartphone) {
    font-size: 3rem;
    height: 7rem;
    width: 35rem;
    top: 5rem;
  }
}
.Button-Contact {
  background-color: $color-text-light;
  border-radius: 30rem;
  color: $color-text-dark;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Source Code Pro", monospace;
  height: 4rem;
  width: 25rem;
  padding: 0rem 1rem;
  z-index: 5;
  transform: translateY(15rem);

  @include respond(Tablet-Landscape) {
    font-size: 2.5rem;
    height: 5rem;
    width: 30rem;
  }
  @include respond(Tablet-Portrait) {
    font-size: 2.5rem;
    height: 5rem;
    width: 30rem;
  }
  @include respond(Smartphone) {
    font-size: 3rem;
    height: 7rem;
    width: 35rem;
    top: 5rem;
  }
}
