.Card-Block {
  border-radius: 1rem;
  height: 30rem;
  width: 25rem;
  @include respond(Tablet-Portrait) {
    height: 35rem;
    width: 30rem;
  }
  @include respond(Smartphone) {
    height: 40rem;
    width: 50rem;
  }
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  &:hover > &--Front {
    transform: rotateY(-180deg);
  }
  &:hover > &--Back {
    transform: rotateY(0) translate(0, -30rem);
    @include respond(Tablet-Portrait) {
      transform: rotateY(0) translate(0, -35rem);
    }
  }

  &--Front {
    backface-visibility: hidden;
    position: relative;
    height: 30rem;
    width: 25rem;
    @include respond(Tablet-Portrait) {
      height: 35rem;
      width: 30rem;
    }
    @include respond(Smartphone) {
      height: 40rem;
      width: 50rem;
    }
    transition: all 0.5s;

    background-image: linear-gradient(
      to right bottom,
      $color-primary-1,
      $color-primary-2
    );
    z-index: 2;
  }
  &--Back {
    position: absolute;
    height: 30rem;
    width: 25rem;
    @include respond(Tablet-Portrait) {
      height: 32rem;
      width: 30rem;
    }
    @include respond(Smartphone) {
      height: 35rem;
      width: 50rem;
    }
    background-color: transparent;
    transition: all 0.5s;
    transform: rotateY(180deg) translate(0rem, -30rem);
    @include respond(Tablet-Portrait) {
      transform: rotateY(180deg) translate(0rem, -35rem);
    }
  }
}
.Basic-Information {
  height: 28rem;
  width: 25rem;
  @include respond(Tablet-Portrait) {
    height: 32rem;
    width: 30rem;
  }
  @include respond(Smartphone) {
    height: 38rem;
    width: 50rem;
  }
  background-color: rgba($color-text-light, $alpha: 0.2);

  &--Name {
    font-size: 2rem;
    color: $color-text-light;
    padding: 1.25rem 0;
    text-transform: uppercase;
    @include respond(Smartphone) {
      font-size: 4rem;
    }
  }

  &--Occupation {
    text-align: center;
    font-size: 1.25rem;
    color: $color-text-light;
    @include respond(Smartphone) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}
.Actual-Photo {
  height: 8rem;
  width: 8rem;
  background-size: 8rem;
  border-radius: 4rem;

  justify-content: flex-end;

  &__Online-Element {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: $color-highlight;
    border-radius: 1rem;
    transform: translate(-1.5rem, 2.5rem);
    z-index: 0;
    &:hover {
      box-shadow: 0 0 1rem 0.5rem $color-text-light;
    }
  }
}
.Actual-Photo-01 {
  background-image: url(/Images/AdarshKumarBharti.png);
}
.Actual-Photo-02 {
  background-image: url(/Images/ShauryaYamdagni.jpg);
}
.Actual-Photo-03 {
  background-image: url(/Images/SiddharthGhosh.jpg);
}
.Actual-Photo-04 {
  background-image: url(/Images/VanshBaijal.jpeg);
}
.Some-More-Information {
  background-image: linear-gradient(
    to left bottom,
    $color-primary-1,
    $color-primary-2
  );

  height: 30rem;
  width: 25rem;
  @include respond(Tablet-Portrait) {
    height: 35rem;
    width: 30rem;
  }
  @include respond(Smartphone) {
    height: 35rem;
    width: 50rem;
  }

  padding-top: 1rem;
  padding-bottom: 2rem;
  // transform: translate(-5rem, -30rem);

  &__keyValue {
    font-size: 1rem;
    @include respond(Smartphone) {
      font-size: 2rem;
    }
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    &--key {
      text-align: start;
      color: $color-text-light;
    }
    &--value {
      text-align: end;
      color: $color-highlight;
    }
  }
}
.links {
  background-color: transparent;

  height: 8.5rem;
  width: 20rem;

  &__setA {
    height: 8.5rem;
    width: 20rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &--div {
      background-color: transparent;
      border-radius: 0.75rem;
      height: 3rem;
      width: 3rem;

      &:hover {
        background-color: rgba($color-text-light, $alpha: 0.2);
      }
    }
  }
}
.logo {
  height: 2rem;
  width: 2rem;
}
