.formPart {
  clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
  background-color: rgba(gray, 0.5);
  height: 45rem;
  width: 72.5rem;

  justify-content: center;
  align-items: center;

  //   margin-left: 1rem;
}

.form {
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2rem;
}

label {
  position: relative;
  text-transform: lowercase;
  //   letter-spacing: 1.25rem;
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
  width: 1rem;
  //   opacity: 0;
  //   transform: translateY(-3rem);
  //   visibility: hidden;
  transition: all 0.2s;
}
input,
.vTextArea {
  background-color: $color-text-darkest;
  border-radius: 2px;

  //--> Working on Border
  border-style: solid;
  border-image-slice: 1;
  border-width: 0.5rem;
  border-image-source: linear-gradient(
    to right,
    $color-primary-1,
    $color-primary-2
  );
  border-left: 0;
  border-top: 0;
  border-right: 0;
  width: 23rem;
  @include respond(Tablet-Landscape) {
    width: 30rem;
    font-size: 1.5rem;
  }
  @include respond(Tablet-Portrait) {
    // width: 50rem;
    font-size: 2rem;
  }
  @include respond(Smartphone) {
    width: 50rem;
    font-size: 2rem;
  }
  font-size: 1.25rem;
  padding: 1rem 2rem;
  color: $color-highlight;

  font-family: "Source Code Pro", monospace;
  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
  }
  &:placeholder-shown + .firstName {
    opacity: 0;
    transform: translateY(-3rem);
    visibility: hidden;
  }
  &:placeholder-shown + .lastName {
    opacity: 0;
    transform: translateY(-3rem);
    visibility: hidden;
  }
  &:placeholder-shown + .email {
    opacity: 0;
    transform: translateY(-3rem);
    visibility: hidden;
  }

  &:placeholder-shown + .message {
    opacity: 0;
    transform: translateY(-3rem);
    visibility: hidden;
  }
  &:focus:invalid {
    border-style: solid;
    border-image-slice: 1;
    border-width: 0.5rem;
    border-image-source: linear-gradient(to right, #8e0e00, #1f1c18);
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }
  &::-webkit-input-placeholder {
    color: $color-highlight;
  }
}
.vTextArea {
  &::-webkit-scrollbar {
    display: none;
  }
}
.formButton {
  outline: none;
  border: none;
  cursor: pointer;

  margin-top: 10px;
  padding: 5px;

  border-radius: 10px;
  background-color: $color-highlight;
  color: $color-text-light;

  &:hover {
    background-color: $color-text-darkest;
    color: $color-highlight;
  }
  @include respond(Smartphone) {
    margin-left: 20rem;
  }
}
