@keyframes Rotation {
  0% {
    background-image: linear-gradient(
      to right,
      $color-primary-1,
      $color-text-light
    );
  }
  25% {
    background-image: linear-gradient(
      to right bottom,
      $color-primary-1,
      $color-text-light
    );
  }
  50% {
    background-image: linear-gradient(
      to bottom,
      $color-primary-1,
      $color-text-light
    );
  }
  75% {
    background-image: linear-gradient(
      to left bottom,
      $color-primary-1,
      $color-text-light
    );
  }
  100% {
    background-image: linear-gradient(
      to left,
      $color-primary-1,
      $color-text-light
    );
  }
}
@keyframes Roll-Down {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(7.5rem);
    opacity: 0.75;
  }
  50% {
    transform: translateY(15rem);
    opacity: 0.5;
  }
  75% {
    transform: translateY(22.5rem);
    opacity: 0.25;
  }
  100% {
    transform: translateY(30rem);
    opacity: 0;
  }
}
