*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; //--> ✅GOOD PRACTICE
  //--> It indicates that to "INHERIT" the box-sizing attribute from parent
}

html {
  //--> rootFontSize can only be set in the <html> tag
  //--> 1 rem 🟰🟰 10px
  //--> 1 rem 🟰🟰 Root Font Size

  //--> 100% == 16px;
  //--> 100/16 == 1px;
  //--> (100/16)*10 == 10px;
  //--> Therefore:
  font-size: 62.5%;

  //--> ✅GOOD PRACTICE
  //--> Easy to provide units for all other elements in our webpage
  //--> Helps to get the resposiveness in the webpage
  //--> Specify rootFontSize in "%" instead of "px"

  @include respond(Desktop-Big) {
    font-size: 75%; //--> let 1rem = 12px for this device, 12px/16px = 75%
  }
  @include respond(Tablet-Landscape) {
    font-size: 56.25%; //--> let 1rem = 9px for this device, 9px/16px = 56.25%
  }
  @include respond(Tablet-Portrait) {
    font-size: 50%; //--> let 1rem = 8px for this device, 8px/16px = 50%
  }

  @include respond(Smartphone) {
    font-size: 30%; //--> let 1rem = 4.8px for this device, 4.8px/16px = 30%
  }
}

//--> ✅GOOD PRACTICE:
//--> Properties related font are inherited...Therefore, we are describing it in body-Tag
.body {
  height: calc(510vh + 4rem);
  width: 98vw;
  background-color: $color-text-darkest;
  box-sizing: border-box; //--> "border-box"
  padding: 2rem 2rem; //--> Replacing 30px with 30/10 = 3rem
  @include respond(Tablet-Portrait) {
    padding: 0;
  }
}
